{%extends 'base.html' %}
{%block anycon%}

<div class="container mt-5">
    <h1><b>로그인</b></h1>
    <form method="post">
        {%csrf_token %}
        <div class="mt-5">
            <input type="text" class="form-control" placeholder="Input Username" name="uname">
            <input type="password" class="form-control mt-3" placeholder="Input Password" name="upass">
        </div>
        <div class= "text-end mt-3">
            <button class="btn btn-info">로그인</button>
            <a href="{% url 'acc:signup' %}"><button type="button" class="btn btn-light">회원가입</button></a>
        </div>
    </form>
</div>
{%endblock%}