{% extends 'base.html' %}
{% block con %}
    <div class="container mt-5 mb-5" style="font-size: 20px; font-weight: bold; width: 60%;">
        <h1><b>PROFILE</b></h1>

        <div class="text-center mt-5">
            <img src="{{user.getpic }} " height="200px"><!--이미지형식은 .url 꼭 넣어야 함-->
        </div>

        <div class="mb-3 mt-5">
            <label class="form-label">USERNAME</label>
            <input type="text" value="{{user.username}}" disabled class="form-control" style="font-size: larger; font-weight: bold;" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label class="form-label">AGE</label>
            <input type="text" value="{{user.age}}" style="font-size: larger; font-weight: bold;" disabled class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label class="form-label">POINT</label>
            <input type="text" value="{{user.point}} P" style="font-size: larger; font-weight: bold;" disabled class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label class="form-label">COMMENT</label>
            <textarea class="form-control" disabled style="font-size: larger; font-weight: bold;">{{ user.comment }}</textarea>
        </div>

        <div class="text-end">
            <a href="{% url 'acc:update' %}" class="btn btn-dark" style="font-weight: bold;">정보수정</a>
            <button type="button" class="btn btn-danger" style="font-weight: bold;" data-bs-toggle="modal" data-bs-target="#exampleModal">
                계정삭제
            </button><!--버튼 누르면 정해진 모달 생성-->
        </div>


    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" action="{% url 'acc:delete' %}">
                {% csrf_token %}
                <div class="modal-body">
                    정말로 계정 삭제를 하시겠습니까?<br>
                    <b>PASSWORD 확인</b> 
                    <input name="passcheck" type="password" class="form-control mt-4 mb-4">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button class="btn btn-danger">계정삭제</button><!--진짜 삭제 버튼-->
                </div>
            </form>
          </div>
        </div>
    </div>
   
{% endblock %}
{% block anycon %}
    
{% endblock %}