{% extends 'base.html'%}
{% block con %}
    {{blist.start_index}}
    {{blist.end_index}}
    <div class="container mt-5 mb-5">
        <h1><b>게시판</b></h1>

        <div class="text-end">
            <a href="{% url 'board:create' %}" class= "btn btn-dark" style="font-weight: bold;">글쓰기</a>
        </div>
        <table class="table table-hover"><!--table-hover 커서 올렸을 때-->
            <thead style="background-color: silver; color: black; font-weight: bold; font-size: large;">
                <tr>
                    <th scope="col">NO</th>
                    <th scope="col">SUBJECT</th>
                    <th scope="col">SUMMARY</th>
                    <th scope="col">WRITER</th>
                    <th scope="col">LIKEY</th>
                </tr>
            </thead>
            <tbody>
                {% if blist%}
                    {% for i in blist  %}
                        <tr>
                            <th scope="row">{{blist.start_index|add:forloop.counter0}}</th>
                            <td><a class = 'dat' href="{% url 'board:detail' i.id %}">{{i.subject}}</a>
                                {% if i.reply_set_count %}
                                    <sup style="color: red; font-weight:bold">reply {{i.replyer}}</sup>
                                {%endif%}
                            </td>
                            <td>{{i.summary}}<sup style="color: red; font-weight: bold;">reply {{i.reply_set.count}}</sup></td>
                            <td>{{i.writer}}</td>
                            <td>{{i.likey.count}}</td><!--좋아요.count를 통해 총 개수 -->
                        </tr>
                    {% endfor %}
                {% else %}
                    {% if kw %}<!--검색했으나 검색결과 없을 때-->
                    <tr>
                        <th colspan="5">검색결과 없습니다</th>
                    </tr>
                    {%else%}<!--검색이 아닌 그냥 게시글이 없을 때-->
                    <tr>
                        <th colspan="5">게시글을 작성해주세요</th>
                    </tr>
                    {%endif%}
                {% endif %}
            </tbody>
            
        </table>
        <form>
            <div class="row">
                <div class="col-lg-2">
                    <select class="form-select form-select-lg mb-3" name="cate" aria-label=".form-select-lg example">
                        <option value="sub" {% if cate == 'sub'%}selected{%endif%}>Subject</option>
                        <option value="sum" {% if cate == 'sum'%}selected{%endif%}>Summary</option>
                        <option value="wri" {% if cate == 'wri'%}selected{%endif%}>Writer</option>
                    </select>
                </div>
                <div class="col-lg-9">
                    <input type="text" class="form-control" name="kw" value = "{{kw}}">
                </div>
                <div class="col-lg-1">
                    <button class="btn btn-dark">검색</button>
                </div>
            </div>
        </form>

        <nav aria-label="Page navigation example" class="mt-5">
            <ul class="pagination justify-content-center">
                {% if blist.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="{% url 'board:index' %}?page=1&kw={{kw}}&cate={{cate}}">처음</a>
                    </li>
                    <li class="page-item" >    
                        <a class="page-link" href="{% url 'board:index' %}?page={{blist.previous_page_number}}&kw={{kw}}&cate={{cate}}">이전</a>
                    </li>
                {%endif%}
    
                {%for i in blist.paginator.page_range %}
                    {% if blist.number|add:5 >= i and blist.number|add:-5 <= i %}
                        <li class="page-item {% if blist.number == i %}active{% endif %}"><a class="page-link" href="{% url 'board:index' %}?page={{i}}&kw={{kw}}&cate={{cate}}">{{i}}</a></li>
                    {% endif %}
                {% endfor %}
                
                {% if blist.has_next %}
                <li class="page-item" >    
                    <a class="page-link" href="{% url 'board:index' %}?page={{blist.next_page_number}}&kw={{kw}}&cate={{cate}}">다음</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="{% url 'board:index' %}?page={{blist.paginator.num_pages}}&kw={{kw}}&cate={{cate}}">맨 끝</a>
                </li>
                
            {%endif%}
            </ul>
          </nav>
    </div>


    <style>
        /* 링크 스타일 원래 다른 문장처럼하되 커서를 갖다댈 시 빨간색으로 */
        a.dat{
            text-decoration: none;
            color : black;
            font-weight: bold;
        }
        a.dat:hover{
            color: red;
        }
    </style>
{% endblock %}
{% block anycon %}
    
{% endblock %}
